@model Tournament.Models.Matches.MatchFormModel

<h2>Редактиране на резултат</h2>

@{ 
    var date=$"{Model.MatchDate.DayOfWeek} {Model.MatchDate.Month}";
}

<form method="post">
    <div class="form-group">
        <label>Дата: @date</label>
        @*<input type="date" asp-for="MatchDate" class="form-control" />*@
    </div>

    <div class="form-group">
        <label>@Model.HomeTeam</label>
        <input type="number" asp-for="HomeTeamGoals" class="form-control" />
    </div>

    <div class="form-group">
        <label>@Model.AwayTeam</label>
        <input type="number" asp-for="AwayTeamGoals" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>