@using Tournament.Data.Models
@model Match
@{
    ViewData["Title"] = "Редакция на резултат";
}

<h2>Редакция на резултат</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">@Model.TeamA.Name</label>
        <input asp-for="ScoreA" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">@Model.TeamB.Name</label>
        <input asp-for="ScoreB" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Запиши резултата</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
