
<h1 class="text-center">@ViewBag.Msg</h1>
<form asp-action="Reset" method="post">
    <button type="submit" class="btn btn-success">Reset Schedule</button>
    <a asp-action="Index" asp-controller="Teams" class="btn btn-secondary">Назад</a>
</form>