<a class="btn btn-outline-primary mt-2" asp-area="Identity" asp-page="/Account/ConfirmManagerRequest">Потвърди участие с код</a>

<form asp-controller="Matches" asp-action="GenerateSchedule" method="post">
    <input type="hidden" name="tournamentId" value="2" /> @*@tournamentId*@
    <button type="submit" class="btn btn-primary">
        🎯 Генерирай график (всеки срещу всеки)
    </button>
</form>

<h1>Hi!!!</h1>
@*<a asp-page="/Account/ConfirmManagerRequest" class="btn btn-outline-primary mt-2">
        Потвърди участие с код
    </a>*@

